/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Header ve Navigasyon */
header {
    background-color: #282c34;
    color: white;
    padding: 1em 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #61dafb;
}

/* Section Stil */
section {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.project {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61dafb;
}

/* Footer Stil */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
